@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
html {
    height: 100%;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px; 
    color: #242424;
    background-color:#F2F2F2;
  }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{ 
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #000000 ;
  }

.page-header {
    color:  #000000;
    background-color:#ffffff;
  }

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto ;
  }

  /*Под вопросом logo!*/

.navigation-logo{
    display: block;
    width: 140px;
    padding: 0;
    margin-right: 30px;
  }

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 440px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.navigation-user{
    width: 305px;
    margin-left: auto;
  }

  .navigation-user.navigation-link {
    min-width: 18px;
    min-height: 20px;
  }
  
.navigation-link {
    display: block;
    padding: 20px 17px;
    font-family: "PT Sans", sans-serif; 
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color:  #000000;
    background-color: #ffffff;
    text-decoration: none;
  }

.button.navigation-link{
    width: 130px;
    padding: 9px 15px;
    margin: 11px 2px;
    font-size: 16px;
    line-height: 20px; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
  }
 
.main-container {
    flex-grow: 1;
   
  }
  
.main-welcome {
    padding-top: 51px; 
    padding-bottom: 83px;
    color:#000000;
    background-color: #ffffff;
    background-image:url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

.welcome-image{
    display: block;
    margin: 0 auto;
  }

.welcome-block-description{
    margin-top: 0;
    font-size: 22px;
    line-height: 36px;
    color:#333333;
    background-color: #ffffff;
    text-align: center;
  }
  
.welcome-description-sedona{
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 36px;
    color:#000000;
    background-color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

.welcome-description{
  margin-top: 0;
margin-bottom: 80px;;
}
.advantages-list{
  margin: 0;
    padding: 0;
    color:  #000000;
    background-color:#E5E5E5;
}
.advantages-item{
  display:flex;
  justify-content: space-between;
  margin: 0;
padding: 0;

}
.advantages-list-infrastructure{
  margin: 0;
  padding: 0;
}
.advantages-item-infrastructure{
  display: flex;

}

.advantages-city{
    width: 400px;
    margin: 0;
    padding: 0;
    padding-top: 98px ;
    color:#FFFFFF;
    background-color:#83B3D3;
}
.advantages-title{
  margin: 0 auto;
  margin-bottom: 30px;
  width: 400;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-number{
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}  
.advantages-description{
  margin: 0;
  padding: 0;
  width: 220px;
  padding: 0 90px;
  padding-bottom: 88px;
}
.advantages-infrastructure{
  display: block;
  margin: 0;
  margin: 0 auto;
}
.advantages-list-city{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages-item-city{
  margin: 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
 
}
.advantages-title-infrastructure{
  width: 250px;
    margin-top: 184px;
    margin-bottom: 20px;
    padding:0 75px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    
}
.advantages-description-infrastructure{
  width: 250px;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    padding: 0 75px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-decoration: none;
}
.advantages-food{
    color: #333333;
    background-color: #FFFFFF;
}
.advantages-place{
  
  width: 400px;
    margin: 0;
    padding: 0;
    
    
}
.index-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.advantages-place{
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  list-style-type: none;
  
}
.advantages-title-attractions{
    width: 250px;
    margin: 0;
    padding:0 75px;
    margin-top: 98px;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-description-attractions{
  
  margin: 0;
    padding: 0;
    padding: 0 75px;
    
    margin-bottom: 108px;
    
    list-style-type: none;
}
.selection-hotel-item{
    width: 720px;
    margin: 0 240px;
    padding: 0;
    padding-top: 91px;
    margin-bottom: 30px;
    font-weight:700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
 }

.selection-hotel-description{
    margin-bottom: 70px;
    font-weight:400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: none;
 }

.button.button-all{
    display: flex;
    width: 575px;
    margin: 0 312px;
    margin-bottom: 108px;
    justify-content: center;
    background-color:#756257;
    color:#FFFFFF;
    font-size: 20px;
    line-height: 36px;  
    text-align: center;
    text-transform: uppercase;
 }

.button.newsletter-button{
    display: inline-block;
    flex-shrink: 0;
    width: 200px;
    height: 60px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color:#83B3D3;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
 }

 .newsletter{
    margin: 0;
    width: 800px;
    padding: 0 200px;
    padding-top: 94px;
    color:#ffffff;
    background-size: 100% auto;
    background-color: #000000;
    background-image:url("../images/background.png");
    background-repeat: no-repeat;
 }

.newsletter-form{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 94px;
    width: 800px;
    
}

.page-footer{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;

}

.page-footer-title{
    margin-bottom:  30px;;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    
    
 }

.page-footer-description{
  
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    
 }

.footer-contacts-address-phone{
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase; 
 }

.field{
    min-width: 600px;
    height: 60px;
    margin: 0;
    padding: 0;
}

.footer-social{
    margin-right:61px;
    max-width: 155px;
}
.footer-social-list{ 
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-contacts{
    width: 720px;
    margin-right: 55px;
    text-align: center;
}

.htmlacademy-link.about-text{
    width: 115px;
    margin-left: auto;
    padding: 0;
}

.catalog-filter{
    display: flex;
    width: 1057px;
    margin: 0;
    padding: 0;
}

.catalog-filter-group{
    margin: 0 67px;
    padding: 0;
    border: 0;
}

.catalog-filter-title{
    width: 150px;
    margin:0 ;
    padding: 0;  
}

.catalog-type{
    margin-right: 167px;
}

.page-container{
   display: flex;
   flex-direction: column;
}

.index-features{
    color:#000000;
    background-color: #ffffff;
    background-image:url("../images/catalog-background-1.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
 }

.select-control{
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-color: #ffffff;
 }

.hotel-card-title{
    color:#000000;
    background-color: #FFFFFF;
    font-weight:700;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;    
 }

.hotel-type{
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
 }

.hotel-card-price{
   font-weight: normal;
   font-size: 18px;
   line-height: 23px;
 }

.hotel-favorites-button.button{
   color: #FFFFFF;
   background-color: #83B3D3;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
 }

.hotel-card-button.button{
   color:#FFFFFF;
   background-color: #756257;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
 }

.inner-header-title{
   width: 530px;
   margin: 0;
   padding: 0;
   margin-left: 70px;
   margin-right: 600px;
   font-weight: 700;
   font-size: 60px;
   line-height: 78px;
   color: #FFFFFF;
}

.breadcrumbs {
   color: #FFFFFF;
}

.breadcrumbs-link {
   color: inherit;
   font-size: 16px;
   line-height: 21px;
}

.catalog-filter-title{
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   color: #FFFFFF;
}
.control-label {
   font-size: 18px;
   line-height: 23px;

}
.button-all{
   width: 160px;
   height: 48px;
   background-color: #83B3D3;
   color: #FFFFFF;
   font-weight:700;
   font-size: 16px;
   line-height: 21px;
   text-align: center;
   text-transform: uppercase;
}

.button-reset{
   width:160px ;
   height: 23px;
   border: 0;
   color: #FFFFFF;
   font-weight: 400;
   background-color: transparent;
   font-size: 18px;
   line-height: 23px;
   text-align: center;
}

.pagination {
   background-color: #ffffff;
}

.pagination-link {
   color: #ffffff;
   background-color: #83B3D3;
   text-decoration: none;
   font-size: 20px;
   line-height: 26px;
   font-weight: 700;
}

.pagination-current {
   color:#242424;
   background-color:#ffffff;
}

.button.pagination-show-more{
   color:#FFFFFF;
   background-color:   #83B3D3;
   font-weight: 700;
   font-size: 20px;
   line-height:26px;
   text-align:center;
   text-transform:uppercase;
}