@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
html {
    height: 100%;
  }

body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px; 
    color: #242424;
    background-color:#F2F2F2;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{ 
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
    background-color:  #E5E5E5;;
    color: #000000 ;
  }

.page-header {
    color:  #000000;
    background-color:#ffffff;
    margin-bottom: -15px;
  }

.navigation {
    display: flex;
    width: 1060px;
   padding: 0;
    margin: 0 auto ;
  }

  /*Под вопросом logo!*/

.navigation-logo{
    display: block;
    width: 140px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
  }

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    width: 440px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.navigation-link-current::before {
    position: absolute;
    right:17px;
    bottom: 0;
    left:17px;
    height: 2px;
    background-color: #756257;
    content: "";
  }

.navigation-link:hover{
    color: #756257;
  }

.navigation-link:active{
    color: rgba(117, 98, 87, 0.3);
  }

  .navigation-item{
    margin: 0;
   padding: 0;
  }
.navigation-user{
    width: 305px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    justify-content: end;
  }

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
  }

ul .button.navigation-link{
    margin-left: auto;
  }
  
.navigation-icon-link{
    margin: 0;
    padding: 0;
  }
  .navigation-icon{
    fill: #000000;
  }
  .navigation-icon:hover{
    fill: #756257;
  }
  .navigation-icon:active{
    fill: #756257;
    opacity: 0.3;
  }

  .like{
    margin-right: 17px;
  }

.navigation-link {
  position: relative;
    display: block;
    margin: 0;
    padding: 0 17px;
    padding-top: 20px;
    padding-bottom: 18px;
    font-family: "PT Sans", sans-serif; 
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color:  #000000;
    background-color: #ffffff;
    text-decoration: none;
  }


.button.navigation-link{
    width: 130px;
    padding: 9px 15px;
    padding-bottom: 8px;
    margin: 14px 0;
    font-size: 16px;
    line-height: 20px; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756257;
    border-radius: 4px;
  }
  .button.navigation-link:hover{
    background: #615048;

  }
  .button.navigation-link:focus{
    background: #615048;
    outline: 3px solid #83B3D3;
    
  }
  .button.navigation-link:active{
    color: rgba(255, 255, 255, 0.3);
    background: #615048;
  }
.main-container {
  background-color: #ffffff;
    flex-grow: 1;
    padding-top: 5px;
   
  }
  
.main-welcome {
    position: relative;
    padding-top: 51px; 
    color:#000000;
    background-color: #ffffff;
    background-image:url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

.welcome-image{
    display: block;
    margin: 0 auto;
    padding-bottom: 83px;
  }
.divider{
  position: absolute;
bottom: 0;
  display: block;
 
  margin: 0 auto;
  }
  

.welcome-block-description{
    margin-top: 0;
    font-size: 22px;
    line-height: 36px;
    color:#333333;
    background-color: #ffffff;
    text-align: center;
  
  }
  
.welcome-description-sedona{
  margin: 0;
  padding: 0;
    margin-bottom: 31px;
    padding-top: 63px;
   
    font-size: 30px;
    line-height: 36px;
    color:#000000;
    background-color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

.welcome-description{
  margin: 0;
  padding-bottom: 80px;;
}
.advantages-list{
    display: flex;
    margin: 0;
    padding: 0;
    color: #000000;
    /* background-color:#E5E5E5; */
    background-color: rgba(131, 179, 211, 0.12);
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  
}
.advantages-item{
  width: 100%;
  margin: 0;
  padding: 0;

}
.advantages-item-infrastructure{
  display:flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.advantages-city{
  width: 400px;
      margin: 0;
      padding: 0;
      padding-top: 98px ;
      color:#FFFFFF;
      background-color:#83B3D3;
      
}
.advantages-title{
  padding: 0;
  margin: 0 auto;
  margin-bottom: 29px;
  width: 400;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-number{
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}  
.advantages-description{
  margin: 0;
  padding: 0;
  width: 220px;
  padding: 0 90px;
  /* padding-bottom: 89px; */
  text-align: center;
}
.advantages-road{
  background-color: rgba(131, 179, 211, 0.08);;
}
.advantages-icon{
  display: block;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 23px;
}
.icon-home{
  margin-top: 89px;
}
.icon-food{
margin-top: 91px;
}
.icon-souvenir{
  margin-top: 85px;
}
.advantages-infrastructure{
  display: block;
  margin: 0;
  margin: 0 auto;
}
.advantages-list-city{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* padding-bottom: 10px; */
  list-style-type: none;
}
.advantages-item-city{
  margin: 0;
  padding: 0;
  padding-bottom: 10px; 
  width: 33.3333%;
  list-style-type: none;
}
.advantages-title-infrastructure{
  margin: 0;
  width: 250px;
    
    margin-bottom: 20px;
    padding:0 75px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    
}
.advantages-description-infrastructure{
  width: 250px;
    margin: 0;
    padding: 0;
    margin-bottom: 79px;
    padding: 0 75px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    text-decoration: none;
}
.advantages-food{
    color: #333333;
    background-color: #FFFFFF;
}
.advantages-place{
  width: 33.3333%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.advantages-title-attractions{
  margin: 0;
  padding:0 75px;
  margin-top: 98px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-description-attractions{  
  margin: 0;
  padding: 0;
  padding: 0 79px;
  margin-bottom: 108px;
  list-style-type: none;
}
.selection-hotel-item{
    width: 720px;
    margin: 0 240px;
    padding-top: 92px;
    margin-bottom: 30px;
    font-weight:700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
 }

.selection-hotel-description{
    margin-top: 29px;
    margin-bottom: 56px;
    font-weight:400;
    font-size: 22px;
    line-height: 26px;
    padding: 0 auto;
    text-transform: none;
    box-sizing: border-box;
 }

.button.button-all{
    display: flex;
    width: 575px;
    padding:12px 0;
    margin: 0 312px;
    margin-bottom: 93px;
    font-size: 700;
    justify-content: center;
    background-color:#756257;
    color:#FFFFFF;
    font-size: 20px;
    line-height: 36px;  
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
   

 }
 .button.button-all:hover{
   background: #615048;
 }
 .button.button-all:focus{
  background: #615048;
  box-sizing: border-box;
  outline: 3px solid #83B3D3;
 }
 .button.button-all:active{
  color: #FFFFFF;
  opacity: 0.3;
  background: #615048;
 }

.button.newsletter-button{
    display: inline-block;
    position: relative;
    flex-shrink: 0;
    width: 200px;
    height: 60px;
    margin: 0;
    padding: 0 auto;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 18px;
    line-height:26px;
    color: #FFFFFF;
    background-color:#83B3D3;
    align-items:center;
    text-align: center;
    text-transform: uppercase; 
    border: none;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
 }
 .button.newsletter-button:hover{
  background: #68A2CA;
 }
 .button.newsletter-button:focus{
  background-color: #68A2CA;
  box-sizing: border-box;
  border: 3px solid #756257;
 }
 .button.newsletter-button:active{
   background-color: transparent;
 }

 

.transparent:active{
  color: #FFFFFF;
  opacity: 0.3;
  
}
 .newsletter{
    margin: 0;
    width: 800px;
    padding: 0 200px;
    padding-top: 94px;
    color:#ffffff;
    background-size: 100% auto;
    background-color: #000000;
    background-image:url("../images/background.png");
    background-repeat: no-repeat;
 }

.newsletter-form{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 94px;
    width: 800px;
    
    
}

.page-footer{
  display: flex;
  padding-top: 22px;
  padding-bottom: 45px;
 background-color: #FFFFFF;
  align-items: center;

}

.page-footer-title{
    margin: 0;
    margin-bottom:  30px;;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    
    
 }

.page-footer-description{
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    
 }

.footer-contacts-address-phone{
     
     padding: 10px;
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase; 
    font-style: normal;
 }

.field{
    min-width: 600px;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    padding-left: 22px;
    background: #F2F2F2;
    box-sizing: border-box;
    border: none;
    border-radius: 10px 0 0 10px ;
    letter-spacing: 0.5px;
}


.field:hover{
  background-color: #E6E6E6;
  border-radius: 10px;
}
.field:focus{
  background: #E6E6E6;
  box-shadow: 3px solid #83B3D3;
  border-radius: 10px 0px 0px 10px;
}
.field:disabled{
  outline: 2px solid #FF5757;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
}

.footer-social{
    margin-left:72px;
    /* margin-right: 60px; */
    max-width: 155px;
}
.footer-social-list{ 
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right:30px ;
}

.footer-contacts{
    width: 720px;
    text-align: center;
    margin-left: 31px ;
}
.footer-social-item{
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.footer-social-link:hover{
  background: #68A2CA;
}
.footer-social-link:focus{
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 10px;
}
.footer-social-link:active{
  background: #68A2CA;
}
.footer-contacts-address-phone:hover{
  color: #756257;
}
.footer-contacts-address-phone:focus{
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}
a[href^="tel:"] {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}
.footer-contacts-address-phone:active{
  color: #756257;
 opacity: 0.3;
}
.htmlacademy-link.about-text{
    width: 115px;
    padding: 0;
}
.about-text{
  margin-left: auto;
  margin-right: 72px;
}

.htmlacademy-link:hover{
  fill: #756257;
}
.htmlacademy-link:focus{
 fill: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}
.htmlacademy-link:active{
  fill: #756257;
  opacity: 0.3;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
 
}
.index-features{
  height: 408px;
  color:#000000;
  background-color: #ffffff;
  background-image:url("../images/catalog-background-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 71px;
}
.inner-header-title{
  width: 528px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  
  margin-right: 600px;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  color: #FFFFFF;
}
.breadcrumbs {
  width: 200px;
  display: flex;
   color: #FFFFFF;
   margin: 0;
   padding: 0;
   margin-bottom: 45px;
   
   
}
.breadcrumbs-item{
  display: flex;
  position: relative;
  list-style-type: none;
}

.arrow{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
}
.breadcrumbs-link{
  padding-left: 2px;
  margin-right: 10px;
  display: block;
  position: relative;
  list-style-type: none;
}
.breadcrumbs-item+ .breadcrumbs-item::before{
  content:'';
  width: 5px;

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image:  url(../images/breadcrums-group.svg);
  display: block;
  margin-right: 10px;
} 


.breadcrumbs-link:hover{
  color: #FFFFFF;
  opacity: 0.6;
}
.breadcrumbs-link:focus{
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}
.breadcrumbs-link:active{
  color: #FFFFFF;
  opacity: 0.3;
}
/* Range */
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 16px;
  background-color: #636b6e;
  
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}


.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}


.range-toggle:focus {
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
}
.range-toggle:active{
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

 .range-wrapper-inputs {
  display: flex;
  border:2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: end;
} 
.catalog-filter-group {
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border: none;
}
.catalog-hotel{
  margin: 0;
  padding: 0 72px;
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range-input {
  /* width: 40px; */
  padding: 11px 14px;
  font: inherit;
  text-align:left;
  color: #FFFFFF;
  background-color: transparent;
  /* border: 1px solid #FFFFFF; */
  appearance: textfield;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.catalog-filter{
  display: flex;
  margin: 0;
  padding: 0;
  
}
.catalog-filter-label{
  /* position: absolute; */
}
.catalog-filter-group{
  margin: 0;
  padding: 0;
  border: none;
}
.catalog-filter-title{
  margin-right: 67px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}
.catalog-filter-list{
  margin: 0;
  padding: 0;
  margin-bottom: 83px;
}
.catalog-filter-item{
  margin: 0;
  padding: 0;
  
  margin-bottom: 13px;
  color: #FFFFFF;
  list-style-type: none;

}
.control-label {
  font-size: 18px;
  line-height: 23px;
}
.control-input{
  margin-right: 19px;
}
.button-apply{
  width: 160px;
  height: 48px;
  background-color: #83B3D3;
  color: #FFFFFF;
  font-weight:700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}
.button-apply:hover{
background: #68A2CA;
}
.button-apply:focus{
  background: #68A2CA;
  border: 3px solid #FFFFFF;
}
.button-apply:active{
  color: #FFFFFF;
  opacity: 0.3;
}
.button-reset{
  width:160px ;
  height: 23px;
  border: 0;
  color: #FFFFFF;
  font-weight: 400;
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
.button-reset:hover{
  color: #FFFFFF;
  opacity: 0.6;
}
.button-reset:focus{
  border: 3px solid #83B3D3;
box-sizing: border-box;
border-radius: 4px;
}
.button-reset:active{
  color: #FFFFFF;
opacity: 0.3;
}
.button-selection{
  display: inline-block;
  margin-left: auto;
  margin-right: 126px;
}
.select-control{
  width: 287px;
 height: 48px;
 padding: 12px 19px;
 font-weight: 400;
 font-size: 18px;
 line-height: 23px;
 border-radius: 4px;
}
.select-control:hover{
  border: 2px solid #83B3D3;
  box-sizing: border-box;
 
}
.select-control:focus{
  border: 2px solid #83B3D3;
  box-sizing: border-box;
}
.select-control:active{
  color: #333333;
opacity: 0.3;
}

.sorting-container{
  display: flex;
  border: 2px;
  color: #000000;
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 56px;
}
.sorting-container .button {
  width: 48px;
  height: 48px;
}
.card-grid-toggle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
}
.mode-card{
  display: flex;
  margin-left: auto;
}
.card-grid-toggle-current{
  border: 2px solid #000000;
box-sizing: border-box;
border-radius: 4px;
}
.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px; 
}

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}
.card-grid-toggle:active{
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}
.hotel-list{
  display: grid;
  grid-template-columns: 340px 340px 340px; 
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  gap: 18px; 
}

.type-price{
  display: flex;
  width: 299px;
  min-height: 23px;
  margin: 16px 0;
  padding: 0;
}
.card-favorites{
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 16px;
}
.rating-hotel{
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}
.hotel-card{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:20px;
}
.hotel-favorites-button .hotel-card-button{
  margin-top: auto;
}
.hotel-card-content{
  padding: 20px;
 display: table;
  flex-grow: 1;
  margin-top: auto;
}
.hotel-card-title-link{
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
}

.result-hotel{
  margin: 0;
  padding: 0;
  Width :337px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-right: 192px;
  
}
.hotel-card-image:hover{
  opacity: 0.6;
}
.hotel-card-image:focus{
  border: 3px solid #83B3D3;
}
.hotel-card-image:active{
  opacity: 0.3;
}
.hotel-aside{
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  padding: 0;
 
}
.rating-stars{
  margin: 0;
  margin-right: 48px;
}
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 0;
  
}
.hotel-type{
  width: 133px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
margin: 0;
padding: 0;
padding-right: 25px;
text-decoration: none;
}
.hotel-type-link{
  text-decoration: none;
}
.hotel-card-price{
  font-weight: 400;
font-size: 18px;
line-height: 23px;
color:#333333;
}
.hotel-favorites-button{
  width: 140px;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase; 
  color: #FFFFFF;
  background-color: #83B3D3;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 4px;
}
.hotel-favorites-button:hover{

  outline: 3px solid #756257;
 
}
.hotel-favorites-button:focus{
 outline: 1px solid #756257;

}

.hotel-favorites-button-current{
  background-color: #7DB54F;
}
.hotel-card-button{
  width: 134px;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 4px;
}
.hotel-card-button:hover{
  background-color: #615048;
}
.hotel-card-button:focus{
  background-color: #615048;
  outline: 3px solid #83B3D3;
}


.rating{
  width: 160px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 4px;

}
.pagination-container{
  display: flex;
  background-color: #ffffff;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 73px;
  margin-right: 299px;
  list-style-type: none;
  background-color: #ffffff;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 16px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  color:#242424;
  background-color:#ffffff;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.sort-item{
  width: 160px;
  height: 48px;
  margin-left: auto;
  font-weight: 400;
font-size: 18px;
line-height: 23px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}
.pagination-link:hover {
  background: #68A2CA;
 border-radius: 4px;
}

.pagination-link:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 4px;
}

.newsletter-catalog{
  margin: 0;
    width: 800px;
    padding: 0 200px;
    color:#ffffff;
    background-size: 100% auto;
    background-color: #ffffff;
    color: #000000;
    
}
.hotel-number{
  width: 175px;
  height: 23px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.number{
  margin: 0;
  padding: 0;
  width:160px;
  height: 48px;
  box-sizing: border-box;

}
.button.pagination-show-more{
  width: 620px;
  padding: 17px 0;
  margin: 47px 218px;
  color:#FFFFFF;
  background-color:   #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height:26px;
  text-align:center;
  text-transform:uppercase;
}
